body{
    background-color: grey;
}

#gameDiv
{
    position: relative;
    background-color: black;
    margin: 0 auto;
    width: 500px;
    height: 400px;
}

#gameDiv img#dog
{
    width: 90px;
    position: absolute;
    top: 10px;
    left: 30px;
    z-index: 1;
    overflow: hidden;
}

#gameDiv img#cat
{
    width: 120px;
    position: absolute;
    top: 20px;
    left: 50px;
    z-index: 2;
    overflow: hidden;
}

#btnMVAnimal
{
    padding: 10px;
    position: absolute;
    top: 350px;
    left: 10px;
    cursor: pointer;
    z-index: 3;
}

#label{
    position: absolute;
    left: 375px;
    top: 400px;
    text-align: center;
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently supported by Chrome and Opera */
}