/* #wrapper{
    border: 10px solid black;
} */
h1
{
    text-align: center;
}

#wrapper{
    position: absolute;
    width: 90%;
    height: 90%;
    background: url("x.png") no-repeat center center fixed;
}

#more{
    cursor: pointer;
    position: relative;
    left: 50%;
}

footer
{
    text-align: center;
    font-size: 1px;
}