body
{
	background-color: #3399ff;
	cursor: url("heart.png") 16 16, default;
}

h1
{
	text-align: center;
	user-select: none;
}

#head00
{
	width: 400px;
	height: 400px;
	background-image: url('allen.png');
	background-position: 000px 000px;
	border: 1px solid black;
}

#head01
{
	width: 400px;
	height: 400px;
	background-image: url('cole.png');
	background-position: 000px 000px;
	border: 1px solid black;
}

#head02
{
	width: 400px;
	height: 400px;
	background-image: url('dominick.png');
	background-position: 000px 000px;
	border: 1px solid black;
}

#head03
{
	width: 400px;
	height: 400px;
	background-image: url('ethan.png');
	background-position: 000px 000px;
	border: 1px solid black;
}

#head04
{
	width: 400px;
	height: 400px;
	background-image: url('ziming.png');
	background-position: 000px 000px;
	border: 1px solid black;
}

#head05
{
	width: 400px;
	height: 400px;
	background-image: url('erfan.png');
	background-position: 000px 000px;
	border: 1px solid black;
}

div.heads
{
	width: 400px;
	height: 400px;
	background-image: url('jake.png');
	background-position: 000px 000px;
	border: 1px solid black;
	display: inline-block;
}