<!DOCTYPE html>
<html>

<head>
    <title>Layout 1</title>
    <link href="style.css" type="text/css" rel="stylesheet">
</head>

<body>
    <div id="main">
        <div class="head">
            Welcome, Person
        </div>

        <div class="navbar">
            <a href="#">Home</a>
            <a href="#">About</a>
            <a href="http://www.dji.com">DJI</a>
            <a href="http://www.twitter.com">Twitter</a>
            <a href="http://www.yahoo.com">Yahoo!</a>
        </div>

        <div class="cont">
            hehehhehehehehhehehheheh
        </div>

        <div class="foot">
            Copyright, TyTech Inc.
        </div>
    </div>

</body>

</html>
