<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Layout 2</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="wrap">
        <div class="head">
            Head
        </div>

        <div class="nav">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
            </ul>
        </div>

        <div class="cont">
            heeeenkfewofjowejfweiojfiowejfoweijfweiidfjweiodjweoidweiojdowejoweiioojfweiojfweiojfoweijfweoijfiojoewjfweojeoefieojfweoj
        </div>

        <div class="foot">
            Copyright, TyTech Inc.
        </div>
    </div>
</body>

</html>