<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Layout 2</title>
    </head>
    <body>
        <div class="head">
            Head
        </div>

        <div class="nav">
            <ul>
                <li>Home</li>
                <li>About</li>
            </ul>
        </div>

        <div class="cont">
            hehehhehehehehehhehehehheheh
        </div>

        <div class="foot">
                Copyright, TyTech Inc.
        </div>
    </body>
</html>
