@font-face {
    font-family: amdrtg;
    src: url("AMDRTG.ttf")
}

@keyframes title {
    0% {font-size: 2em}
    50% {font-size: 2.5em}
    100% {font-size: 2em}
}

body
{
    background-color: #959595
}

h1{
    font-family: amdrtg;
    /* font-size: 2em; */

    animation-name: title;
    animation-delay: 0s;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#wrapper
{
    /* width: 75%; */
    /* text-align: center; */
    /* margin: 0 auto; */
}

#wrapper{
    width: 99%;
}

#wrapper a img{
    vertical-align: top;
    padding: .5%; 
    border-radius: 5%;
}

#wrapper a img:hover{
    background-color: #3399ff
}

@media (min-width: 1200px), (min-device-width: 1200px)
{
    #wrapper a img
    {
        width: 15%;        
    }
}

@media (min-width: 800px) and (max-width: 1200px), (min-device-width: 800px) and (max-device-width: 1200px)
{
    #wrapper a img{
        width: 20%;
    }
}

@media (min-width: 400px) and (max-width: 800px), (min-device-width: 400px) and (max-device-width: 800px)
{
    #wrapper a img{
        width: 40%;
    }
    
}

@media (max-width: 400px), (max-device-width: 400px)
{
    #wrapper a img{
        width: 50%;
    }
}
