<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Layout 2</title>
    <link rel="stylesheet" href="style2.css">
</head>

<body>
    <div class="wrap">
        <div class="head">
            Welcome, (instert random name here)
        </div>

        <div class="nav">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <ul>Beaches
                    <li><a href="#">Venice Beach</a></li>
                    <li><a href="#">Zuma Beach</a></li>
                    <li><a href="#">Malibu Beach</a></li>
                </ul>
            </ul>
        </div>

        <div class="cont">
            Content
        </div>

        <div class="foot">
            Copyright, TyTech Inc.
        </div>
    </div>
</body>

</html>