<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Layout 3</title>
    <link rel="stylesheet" href="style3.css">
</head>
<body>
    <div class="wrap">
        <div id="head">

        </div>

        <div id="nav">

        </div>

        <div id="subnav">

        </div>

        <div id="cont">

        </div>

        <div id="foot">
            Copyright TyTech Inc. 2017
        </div>
    </div>
    
</body>
</html>