<!DOCTYPE html>
<html>
	<head>
		<title>The display property</title>
		<link rel="icon" href="logo.png">
		<style>
			body *
			{
				border: 2px solid red;
				display: inline-block;
				vertical-align: top;
			}
		</style>
	</head>
	<body>
		<h1>Level 1 heading</h1>
		<h2>Level 2 heading</h2>

		<p>Paragraph</p>
		<p>Another paragraph</p>

		<img src="logo.png">
		<img style="width: 100px" src="vr.png">

		<a href="#">Link</a>
		<a href="#">Another link</a>

		<div>DIV</div>
		<div>Another DIV</div>

		<span>SPAN</span>
		<span>Another span</span>
	</body>
</html>

